{% extends 'base.html' %}



{% block title %}
Password Changed
{% endblock %}


{% block headData %}

{% load static%}
<style>
    body {
        background-image: url("{% static 'images/form_bg.jpg'%}");
        background-size: cover;
    }

    h1,
    p {
        color: white;
    }
</style>

{% endblock %}

{% block content %}

<h1>Password reset complete</h1>

<p>Your password has been set. You may go ahead and log in now.</p>

<button class="btn btn-warning"><a  style="text-decoration: none;color: black;" href="{% url 'login_page' %}" >Login</a></button>


{% endblock %}