{% extends 'base.html' %}

{% block title %}
Enter email for reset link
{% endblock %}



{% block headData %}

{% load static%}
<style>
    body{
        background-image: url("{% static 'images/form_bg.jpg'%}");
        background-size: cover;
    }
    
    h1,p{
        color:black;
    }

    
</style>

{% endblock %}


{% block content%}

{% load crispy_forms_tags %}



<form method="post" class="col-7 mx-auto card p-3 shadow-lg mt-4">
    <h1>Password reset</h1>
<p>Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.</p>
    {% csrf_token %}
    {{form|crispy}}
    <input type="submit" name="Send email" value="Send reset link" class="btn btn-primary">
</form>


{% endblock %}