{% extends 'base.html' %}

{% block title %}
Set New Password
{% endblock %}




{% block headData %}
{% load static%}
<style>
    body{
        background-image: url("{% static 'images/form_bg.jpg'%}");
        background-size: cover;
    }
    
    h2,p,label{
        color:black;
    }

    
</style>

{% endblock %}




{% block content %}

{% load crispy_forms_tags %}
<form method="post" class="col-7 mx-auto card p-3 shadow-lg mt-4">

    <h2>Enter new password</h2>
    <p>Please enter your new password twice so we can verify you typed it in correctly.</p>
    {% csrf_token %}
    {{form|crispy}}


    <input type="submit" value="Update Password" class="btn btn-primary">

</form>
{% endblock %}