{% extends 'base.html' %}

{% block title %}
Link Sent
{% endblock %}


{% block headData %}

{% load static%}
<style>
    body{
        background-image: url("{% static 'images/form_bg.jpg'%}");
        background-size: cover;
    }
    
    h1,p{
        color:white;
    }

    
</style>
{% endblock %}



{% block content %}

<h1>Password reset link sent</h1>
<hr style="color: white;">

<p>We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.<br>
     If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.</p>

{% endblock %}